:root {
  --neon-cyan: #00f3ff;
  --neon-pink: #ff007f;
  --font-mono: 'Courier New', Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
}